body {
	min-height: 100vh;
	font-family: 'JetBrains Mono', monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
main {
	margin: 32px 0;
}
.social,
.support,
h1,
h2,
h3 {
	text-align: center;
}
.tech_icons {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	justify-content: center;
}
.github_header_image_dev {
	text-align: center;
	margin: 0 auto;
}
