body {
	min-height: 100vh;
	font-family: 'JetBrains Mono', monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
main {
	margin: 32px 0;
}
.social,
.support,
h1,
h2,
h3 {
	text-align: center;
}
.tech_icons {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	justify-content: center;
}
.github_header_image_dev {
	text-align: center;
	margin: 0 auto;
	padding: 1px;
	border-radius: 16px;
	position: relative;
}
@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}
.github_header_image_dev::after,
.github_header_image_dev::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: conic-gradient(
		from var(--angle),
		#ff4545,
		#00ff99,
		#006aff,
		#ff0095,
		#ff4545
	);
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: -1;
	padding: 1px;
	border-radius: 16px;
}
.github_header_image_dev::before {
	filter: blur(3rem);
	opacity: 0.5;
}
@keyframes spin {
	from {
		--angle: 0deg;
	}
	to {
		--angle: 360deg;
	}
}
